<!doctype html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});
                }
            });
        }
    </script>
</head>

<body style="padding: 20px">
    <div style="color: #1940ff; text-align: center">
        <h1>Детектирование аномалий RR-интервалов</h1>
    </div>

    <div>
        <div style="float: left">
            <div style="color: #1940ff; margin-bottom: 20px">
                <h4>Образец</h4>
            </div>
            <select id="Samples" size="19" width="20" class="scrollable", onchange="cb(this.value)"
                    style="border-color: #1940ff; border-width: medium; border-radius: 6px"
            >
                {% for user in users %}
                    <option>{{ user }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <br>
            <br>
            <div id="chart" class="chart" style="margin-left: 100px"></div>
        </div>

    </div>
    <br>
    <br>
    <div style="color: #1940ff; text-align: center">
        <h2> Команда "Звездочка" </h2>
    </div>
</body>

<script>
    cb("8");
</script>
</html>
