#block_container
{
    vertical-align: center;
}
/*#block1, #block2*/
/*{*/
/*    display:inline;*/
/*}*/
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f8f9fa;
}
/**::-webkit-scrollbar-thumb {*/
/*    background: #1940FF;*/
/*    border-radius: 8px;*/
/*}*/
.flexcroll{ width:60px;
            height:410px;
            overflow:scroll;
           }
.flexcroll{
    scrollbar-face-color: #1940ff;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
.flexcroll::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 12px;
    background: #1940ff;
    border-width: medium;
}
